/* não consegui aletrar tabela e referencia */


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin-top: 0;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

section p {
    text-align: justify;
}

table {
    width: 50%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
}

footer {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.footer {
    font-size: 12px;
    color: #666;
}


@media (max-width: 768px) {
    header img {
        margin: 10px auto;
    }
}
